.home {
    // background-color: red;

    .featureGrid {
        // background-color: yellow;
        display: flex;
        justify-content: center;
        gap: 2rem;
        align-items: center;
        padding: 1rem 2rem;

        .featureCard {
            text-align: center;
            padding: 1rem;
            border-radius: 1rem;
            border: 1px solid black;

            &:hover {
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                transform: translateY(-5px);
                transition: all 0.2s ease;
            }


            span {
                font-size: 1.5rem;
            }

            h3 {
                font-size: 2rem;
                font-weight: 500;
            }
        }
    }
}